/* star used to reset default values in browser */
* {
    border: none;
    margin: 0;
    padding: 0;
}


body {
    background-color: #261733;
}

div {
    border: red solid 5px;
    width: 500px;
    margin: auto;
}
p {
    font-family: "Mountains of Christmas", serif;
    text-align: center;
}

div p {
    border-color: black;
    border-style: solid;
    border-width: 10px;
    margin: 10px 20px;
    /* padding: 20px 100px; */  
}
p:nth-child(1) {
    text-align: center;
    width: 50%;
}
#img_container {
    width: 25%;
    height: 200px;
}
img {
    width: 100%;
    height: 100%;
}