.diceContainer {
    color: rgb(181, 106, 255);
    font-size: 15em;
    text-align: center;
  }

body {
  background-color: black;
  text-align: center;
}

.container {
  color: aqua;
}

div {
  align-content: center;
}